@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* prevent sideways scrolling */
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
